//Hover effect
.hover:hover {

    cursor: pointer;
    opacity: 50%;
    transition: 0.1s;

}

.hover-menu:hover {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.219);
}
//Border Bottom
.border-bt {
    border-bottom: solid rgba(0, 0, 0, 0.079) 1px;
}

//App.js Grid Settings
.main-container{
    display: flex;
    flex-direction: column;
    position: relative;

}

.side-top-menu {
    display: flex;
    justify-content: space-between;
}

