//Navbar container
.navbar {
    display: flex;
    background: turquoise;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 30px;
    padding: 1rem 3.2rem;

    //Hamburger Menu

    .hamburger-icon {
        font-size: 1.6rem;
    }

    //Gmail logo
    .logo {
       
        padding-right: 7rem;
        
    }
   

    //Center input for search
    .search-input {
        
    display: flex;
    width: 100%;
    max-width: 650px;

    input {
        width: 100%;
        height: 4.6rem;
        border-radius: 5px;
        background: rgba(255, 255, 255, 0.466);
        
    }

    }
    //Left icons - options etc. 
    .settings {
        
        flex: 1 0;
        display: flex;
        align-items: center;
        gap: 30px;
        font-size: 2rem;
        justify-content: flex-end;
        margin-right: -3rem;

        

        //Gmail Profile Picture
        i:last-of-type {
            font-size: 4rem;
        }
    }

}