//Navbar container
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    padding: 0.8rem 3.2rem;
  
    color: #6D6C6C;
    //Hamburger Menu

    .hamburger-icon {
        font-size: 1.6rem;
    }

    //Gmail logo
    .logo {
       
        padding-right: 6rem;
        
    }
   

    //Center input for search
    .search-input {
        
    display: flex;
    width: 100%;
    max-width: 720px;

    input {
        width: 100%;
        padding-left: 2rem;
        height: 4.8rem;
        border-radius: 8px;
        background: rgba(0, 0, 0, 0.050)
        
    }

    }
    //Left icons - options etc. 
    .settings {
        
        flex: 1 0;
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 2rem;
        justify-content: flex-end;
        margin-right: -3.5rem;

        

        //Gmail Profile Picture
        i:last-of-type {
            font-size: 4rem;
        }
    }

}